@model IEnumerable<Wardrobe.Models.Bottom>

@{
    ViewBag.Title = "Index";
}

<h2>Bottoms Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BottomName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BottomPhoto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BottomType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BottomColor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BottomSeason)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BottomOccasion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BottomName)
        </td>
        
        <td>        
            <a href="@Url.Action("Details", new { id = item.BottomID })"><img src="@Html.DisplayFor(modelItem => item.BottomPhoto)" style="width: 150px; height: 150px;" /> </a>
</td>
        <td>
            @Html.DisplayFor(modelItem => item.BottomType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BottomColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BottomSeason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BottomOccasion)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.BottomID })
        </td>
    </tr>
}

</table>
